/* Home */

position: relative;
width: 360px;
height: 1316px;
left: 83px;
top: 236px;

background:
  linear-gradient(0deg, #ffffff, #ffffff),
  linear-gradient(270deg, #32080c 3.85%, #981825 55.29%, #32080c 100%);
border-radius: 30px;

/* Frame 1000007026 */

position: absolute;
width: 360px;
height: 662px;
left: -1px;
top: 50px;

background: #fafafa;

/* bg 1 */

position: absolute;
width: 660px;
height: 871px;
left: -86px;
top: -151px;

/* Rectangle 38 */

position: absolute;
width: 360px;
height: 34px;
left: 0px;
top: -5px;

background: #ffffff;

/* 16:04 */

position: absolute;
width: 30px;
height: 14px;
left: 27px;
top: 9px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 12px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #252525;

/* Vector */

position: absolute;
width: 13px;
height: 11px;
left: 273px;
top: 9px;

background: #252525;

/* Vector */

position: absolute;
width: 15px;
height: 8px;
left: 291px;
top: 11px;

border: 2px solid #252525;
border-radius: 58px;

/* nav bar */

position: absolute;
width: 375px;
height: 92px;
left: calc(50% - 375px / 2 + 0.5px);
bottom: 0px;

/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 0px 110px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.5914px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 40px 40px 0px 0px;

/* Home */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 21px 120.5px 8px;
gap: 10px;

position: absolute;
left: 0%;
right: 0%;
top: 63.04%;
bottom: 0%;

backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */

/* Home Indicator */

width: 134px;
height: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Home Indicator */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Foundation /Red/Darker */
background: #420c11;
border-radius: 100px;

/* User */

position: absolute;
left: 84.27%;
right: 9.33%;
top: 21.74%;
bottom: 52.17%;

/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px / 2);
top: calc(50% - 24px / 2);

/* Vector */

position: absolute;
left: 18.75%;
right: 18.75%;
top: 9.38%;
bottom: 9.37%;

border: 1.5px solid rgba(66, 12, 17, 0.5);

/* Home / Icon / Nearby */

position: absolute;
left: 34.13%;
right: 59.47%;
top: 21.74%;
bottom: 52.17%;

/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px / 2);
top: calc(50% - 24px / 2);

/* Vector */

position: absolute;
left: 6.67%;
right: 6.67%;
top: 14.55%;
bottom: 12.9%;

border: 1.5px solid rgba(66, 12, 17, 0.5);

/* Home */

position: absolute;
left: 13.07%;
right: 80.53%;
top: 21.74%;
bottom: 52.17%;

/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px / 2);
top: calc(50% - 24px / 2);

/* Vector */

position: absolute;
left: 6.21%;
right: 6.21%;
top: 8.84%;
bottom: 46.83%;

background: #420c11;

/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 22.63%;
bottom: 9.38%;

background: #420c11;

/* Frame */

position: absolute;
width: 24px;
height: 24px;
left: 225px;
top: 20px;

/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 15.62%;
bottom: 15.62%;

border: 1.5px solid rgba(66, 12, 17, 0.5);

/* Frame 512556 */

position: absolute;
width: 359px;
height: 677px;
left: calc(50% - 359px / 2 + 0.5px);
top: 29px;
overflow-y: scroll;

/* Frame 512555 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 4px;
gap: 32px;

position: absolute;
width: 328px;
height: 1168px;
left: calc(50% - 328px / 2 + 0.5px);
top: 33px;

/* BANNER 10 */

width: 328px;
height: 171px;

background: #ffffff;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 73 */

position: absolute;
width: 36px;
height: 36px;
left: -532.1px;
top: 312px;

background: #efa582;

/* Ellipse 77 */

position: absolute;
width: 15px;
height: 14px;
left: 187px;
top: 11px;

background: rgba(239, 130, 130, 0.7);

/* Rectangle 171 */

box-sizing: border-box;

position: absolute;
width: 101.19px;
height: 216.03px;
left: 157.19px;
top: -44.26px;

background: linear-gradient(
  180.41deg,
  rgba(224, 0, 7, 0.4) 14.38%,
  rgba(189, 119, 75, 0) 87.75%
);
border-radius: 0px;
transform: matrix(0.91, 0.42, -0.41, 0.91, 0, 0);

/* Group 9278 */

position: absolute;
width: 44px;
height: 83px;
left: 144px;
top: 88px;

opacity: 0.5;

/* Rectangle 177 */

position: absolute;
width: 1.65px;
height: 76.41px;
left: 144px;
top: 103.85px;

background: linear-gradient(180deg, #e00007 0%, rgba(84, 36, 13, 0) 100%);
transform: matrix(0.95, 0.31, -0.49, 0.87, 0, 0);

/* Rectangle 178 */

position: absolute;
width: 1.65px;
height: 76.41px;
left: 149.05px;
top: 88px;

background: linear-gradient(180deg, #e00007 0%, rgba(84, 36, 13, 0) 100%);
transform: matrix(0.95, 0.31, -0.49, 0.87, 0, 0);

/* Group 9279 */

position: absolute;
width: 47px;
height: 119.28px;
left: 295.71px;
top: -12.5px;

transform: rotate(1.24deg);

/* Rectangle 179 */

position: absolute;
width: 1.93px;
height: 108.17px;
left: 295.72px;
top: 7.36px;

background: linear-gradient(180deg, #e00007 0%, rgba(84, 36, 13, 0) 100%);
transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);

/* Rectangle 180 */

position: absolute;
width: 1.93px;
height: 108.17px;
left: 299.13px;
top: -11.52px;

background: linear-gradient(180deg, #e00007 0%, rgba(84, 36, 13, 0) 100%);
transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);

/* heart-organ */

position: absolute;
width: 150px;
height: 164px;
left: 187px;
top: 7px;

background: url(heart-organ.png);

/* Frame 387 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

position: absolute;
width: 187px;
height: 102px;
left: 15px;
top: 44px;

/* Frame 386 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 187px;
height: 69px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Save a heart today */

width: 180px;
height: 27px;

font-family: "Poppins";
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-transform: capitalize;

color: #e00007;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Your contribution provides heart saving surgeries for children in need. */

width: 187px;
height: 30px;

font-family: "Poppins";
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
text-transform: capitalize;

color: rgba(23, 23, 23, 0.8);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* BUTTONS  */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 8px;

width: 187px;
height: 21px;

background: #2c8a23;
border: 1px solid rgba(44, 138, 35, 0.47);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Vector */

width: 8px;
height: 7px;

/* Elements */
border: 0.7px solid #e9f6fe;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Sign Up */

width: 49px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: uppercase;

/* Foundation /Green/Light */
color: #e9f5ec;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 512553 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 328px;
height: 961px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 512557 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 328px;
height: 187px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* What do you want to know? */

width: 328px;
height: 15px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height */
display: flex;
align-items: center;
text-transform: capitalize;

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 396 */

width: 327px;
height: 164px;
overflow-x: scroll;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 395 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 470.87px;
height: 159px;
left: 0px;
top: 0px;

opacity: 0.8;

/* Frame 389 */

box-sizing: border-box;

width: 151.62px;
height: 159px;

background: #ffffff;
border: 1px solid #eae8e8;
border-radius: 18px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* heart-organ */

position: absolute;
width: 80px;
height: 111px;
left: 65px;
top: -2px;

background: url(heart-organ.png);

/* Frame 1000006985 */

position: absolute;
width: 152px;
height: 159px;
left: 0px;
top: 0px;

backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 18px;

/* Vec/Medical History-Big */

position: absolute;
width: 37px;
height: 37px;
left: 57.31px;
top: 17px;

/* Vector */

position: absolute;
width: 26px;
height: 30px;
left: calc(50% - 26px / 2 + 0.19px);
top: calc(50% - 30px / 2 - 0.5px);

border: 1px solid #ce0d1f;

/* Symptoms */

position: absolute;
width: 112.7px;
height: 14px;
left: 19.46px;
top: 62px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #420c11;

/* Line 5 */

position: absolute;
width: 90.02px;
height: 0px;
left: 30.8px;
top: 84px;

border: 1px solid #d01414;

/* Frame 392 */

position: absolute;
width: 125.62px;
height: 40px;
left: 13px;
top: 92px;

/* Frame 389 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 125.62px;
height: 8px;
left: 0px;
top: 0px;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Chest pain and pressure */

width: 112.7px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 393 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 125.62px;
height: 8px;
left: 0px;
top: 16px;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Frame 390 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 112.7px;
height: 7px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Shortness of breath */

width: 112.7px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 391 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 116.92px;
height: 8px;
left: 0px;
top: 32px;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Cold sweat, nausea, dizziness */

width: 104px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 390 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 17px 13px;
gap: 8px;

width: 151.62px;
height: 159px;

background: #ffffff;
border: 1px solid #eae8e8;
border-radius: 18px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 394 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 36px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Info */

width: 15px;
height: 30px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* What to do */

width: 112.7px;
height: 14px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #420c11;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Line 5 */

width: 90.02px;
height: 0px;

border: 1px solid #6ea374;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Frame 392 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125.62px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Frame 389 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 125.62px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Call emergency services */

width: 112.7px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 393 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125.62px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Frame 390 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 112.7px;
height: 7px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Keep them calm & seated */

width: 112.7px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 391 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 99.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Do not delay seeking help */

width: 87px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 391 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 17px 13px;
gap: 8px;

width: 151.62px;
height: 159px;

background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(7.2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 18px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Icon-Med-General-Small */

width: 34px;
height: 47px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
width: 31px;
height: 35px;
left: calc(50% - 31px / 2 + 0.45px);
top: calc(50% - 35px / 2);

/* Prevention */

width: 112.7px;
height: 14px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #420c11;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Line 5 */

width: 90.02px;
height: 0px;

border: 1px solid #d01414;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Frame 392 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125.62px;
height: 40px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;

/* Frame 389 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 125.62px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Stay physically active */

width: 112.7px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 393 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125.62px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* Frame 390 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 112.7px;
height: 7px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* eat heart-healthy foods */

width: 112.7px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 391 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 90.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

/* Male Symbol  / Icon */

width: 4.92px;
height: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 63 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 38.46%;

/* Vector 165 */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 61.54%;
bottom: 0%;

/* avoid smoking & stress */

width: 78px;
height: 7px;

font-family: "League Spartan";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 7px;
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(99, 55, 59, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 512552 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 328px;
height: 742px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 407 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 4px;
gap: 8px;

width: 327px;
height: 124px;

background: rgba(255, 255, 255, 0.8);
border: 1px solid #eae8e8;
box-shadow: 0px 4px 72.5px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Component 29 */

width: 97px;
height: 108px;

border-radius: 8px 0px 0px 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
left: 1.36%;
right: 0%;
top: 0%;
bottom: 0%;

/* Frame 406 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 214px;
height: 103px;

background: url(ai-removebg-preview.png), rgba(255, 255, 255, 0.8);
border-radius: 0px 8px 8px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 404 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 214px;
height: 45px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Heart health AI Assistant */

width: 214px;
height: 17px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Get instant guidance on symptoms, risks, and emergencies. */

width: 214px;
height: 24px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 120%;
/* or 12px */

color: rgba(39, 153, 68, 0.7);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 405 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 214px;
height: 42px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 403 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 10px;
gap: 6px;

width: 162px;
height: 24px;

/* Foundation /Green/Normal :hover */
background: #238a3d;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Info */

width: 9px;
height: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Vector */

position: absolute;
width: 5px;
height: 9px;
left: calc(50% - 5px / 2 - 0.5px);
bottom: 0px;

border: 0.7px solid #ffffff;

/* Ask the AI */

width: 48px;
height: 12px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 120%;
/* identical to box height, or 12px */

color: #ffffff;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Not for diagnosis. Emergency cases redirected instantly */

width: 214px;
height: 10px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */

color: rgba(14, 54, 24, 0.4);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 512551 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 328px;
height: 586px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 417 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 327px;
height: 288px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 416 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 229px;

width: 327px;
height: 17px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* resources */

width: 68px;
height: 17px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 415 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 2px;
gap: 4px;

width: 47px;
height: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Detail */

width: 33px;
height: 14px;

font-family: "Inter";
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 120%;
/* or 14px */

color: #d72335;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Back # 2 */

width: 6px;
height: 9px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Vector */

position: absolute;
left: 0%;
right: -50%;
top: 0%;
bottom: 33.33%;

border: 0.3px solid #d72335;
transform: matrix(0, -1, -1, 0, 0, 0);

/* Frame 414 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 327px;
height: 255px;
overflow-x: scroll;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 412 */

box-sizing: border-box;

width: 232px;
height: 255px;

background: #ffffff;
border: 1px solid #eae8e8;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* image 3 */

position: absolute;
width: 232px;
height: 135px;
left: 0px;
top: 0px;

background:
  linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 12.22%,
    rgba(0, 0, 0, 0.3) 56.11%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  url(image.png);
border-radius: 10px 10px 0px 0px;

/* Frame 411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 19px;
gap: 10px;

position: absolute;
width: 232px;
height: 88px;
left: 0px;
top: 151px;

/* Frame 410 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 151px;
height: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 146 */

width: 8px;
height: 8px;

background: #d72335;
box-shadow: 0px 1px 9.1px rgba(0, 0, 0, 0.25);
filter: blur(1px);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Medical Guide */

width: 163px;
height: 10px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */

color: #b90b1c;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 409 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 194px;
height: 68px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 408 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 194px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Emergency Heart Care */

width: 163px;
height: 17px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* 101 */

width: 163px;
height: 17px;

font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Learn the critical steps to take when someone is experiencing cardiac... */

width: 194px;
height: 20px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 120%;
/* or 10px */

color: rgba(0, 0, 0, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 418 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 10px;
gap: 10px;

position: absolute;
width: 61px;
height: 22px;
left: 7px;
top: 107px;

background: linear-gradient(180deg, #ebe7e7 0%, #ffffff 50%, #ebe7e7 100%);
border-radius: 28px;

/* 5 Min read */

width: 41px;
height: 10px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */

color: rgba(0, 0, 0, 0.6);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 413 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 16px;
gap: 16px;

width: 232px;
height: 255px;

background: #ffffff;
border: 1px solid #eae8e8;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* image 3 */

width: 232px;
height: 135px;

background:
  linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 12.22%,
    rgba(0, 0, 0, 0.3) 56.11%,
    rgba(0, 0, 0, 0.5) 100%
  ),
  url(image.png);
border-radius: 10px 10px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 19px;
gap: 10px;

width: 232px;
height: 88px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 410 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 151px;
height: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Ellipse 146 */

width: 8px;
height: 8px;

background: #d72335;
box-shadow: 0px 1px 9.1px rgba(0, 0, 0, 0.25);
filter: blur(1px);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Medical Guide */

width: 163px;
height: 10px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */

color: #b90b1c;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 409 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 194px;
height: 68px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 408 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 194px;
height: 38px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Emergency Heart Care */

width: 163px;
height: 17px;

font-family: "Inter";
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* 101 */

width: 163px;
height: 17px;

font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* identical to box height, or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Learn the critical steps to take when someone is experiencing cardiac... */

width: 194px;
height: 20px;

font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 120%;
/* or 10px */

color: rgba(0, 0, 0, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

/* Frame 512550 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 328px;
height: 266px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* News */

width: 328px;
height: 21px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

/* Frame 424 */

width: 328px;
height: 236px;
overflow-y: scroll;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* Frame 423 */

position: absolute;
width: 328px;
height: 260px;
left: 0px;
top: 10px;

/* Frame 420 */

box-sizing: border-box;

position: absolute;
width: 327px;
height: 84px;
left: 0px;
top: 0px;

background: linear-gradient(
  262.82deg,
  rgba(255, 255, 255, 0.95) 4.1%,
  rgba(239, 236, 236, 0.7) 38.17%,
  rgba(255, 255, 255, 0.9) 72.23%
);
backdrop-filter: blur(12.2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;

/* Rectangle 181 */

position: absolute;
width: 76px;
height: 76px;
left: 4px;
top: 4px;

background: url(HOSPITAL OPENING.jpg);
box-shadow: 0px 4px 15.2px rgba(0, 0, 0, 0.1);
border-radius: 16px;

/* Frame 419 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 205px;
height: 64px;
left: 96px;
top: 10px;

/* Infrastructure */

width: 205px;
height: 10px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */
text-transform: uppercase;

color: #07ac64;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New Cardiac center opening in Addis Ababa this Friday. */

width: 205px;
height: 34px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 2 hrs ago */

width: 205px;
height: 12px;

font-family: "League Spartan";
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 120%;
/* identical to box height, or 12px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Frame 512547 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
gap: 10px;

position: absolute;
width: 18px;
height: 18px;
left: 57px;
top: 57px;

background: #ffffff;
border-radius: 8px;

/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 10px;

width: 8px;
height: 14px;

background: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Vector */

width: 8px;
height: 10px;

background: #110103;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 512548 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
gap: 10px;

position: absolute;
width: 18px;
height: 18px;
left: 57px;
top: 57px;

background: #ffffff;
border-radius: 8px;

/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 10px;

width: 8px;
height: 14px;

background: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Vector */

width: 8px;
height: 10px;

background: #110103;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 421 */

box-sizing: border-box;

position: absolute;
width: 327px;
height: 84px;
left: 0px;
top: 88px;

background: linear-gradient(
  262.82deg,
  rgba(255, 255, 255, 0.95) 4.1%,
  rgba(239, 236, 236, 0.7) 38.17%,
  rgba(255, 255, 255, 0.9) 72.23%
);
backdrop-filter: blur(12.2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;

/* Rectangle 181 */

position: absolute;
width: 76px;
height: 76px;
left: 4px;
top: 4px;

background: url(HAE.png);
box-shadow: 0px 4px 15.2px rgba(0, 0, 0, 0.1);
border-radius: 16px;

/* Frame 419 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 205px;
height: 64px;
left: 96px;
top: 10px;

/* Report */

width: 205px;
height: 10px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */
text-transform: uppercase;

color: #1972e5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* HAE Mission Report: Q3 Achievements and Future Goals. */

width: 205px;
height: 34px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 2 days ago */

width: 205px;
height: 12px;

font-family: "League Spartan";
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 120%;
/* identical to box height, or 12px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Frame 512549 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
gap: 10px;

position: absolute;
width: 18px;
height: 18px;
left: 58px;
top: 58px;

background: #000000;
border-radius: 8px;

/* Frame */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 10px;

width: 8px;
height: 14px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

/* Vector */

width: 8px;
height: 10px;

background: #ffffff;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* Frame 422 */

box-sizing: border-box;

position: absolute;
width: 327px;
height: 84px;
left: 0px;
top: 176px;

background: linear-gradient(
  262.82deg,
  rgba(255, 255, 255, 0.95) 4.1%,
  rgba(239, 236, 236, 0.7) 38.17%,
  rgba(255, 255, 255, 0.9) 72.23%
);
backdrop-filter: blur(12.2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;

/* Rectangle 181 */

position: absolute;
width: 76px;
height: 76px;
left: 4px;
top: 4px;

background: url(DRS.png);
filter: drop-shadow(0px 4px 15.2px rgba(0, 0, 0, 0.1));
border-radius: 16px;

/* Frame 419 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 205px;
height: 64px;
left: 96px;
top: 10px;

/* story */

width: 205px;
height: 10px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 120%;
/* identical to box height, or 10px */
text-transform: uppercase;

color: #ff4d0c;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

/* New Cardiac center opening in Addis Ababa this Friday. */

width: 205px;
height: 34px;

font-family: "League Spartan";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 120%;
/* or 17px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

/* 2 hrs ago */

width: 205px;
height: 12px;

font-family: "League Spartan";
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 120%;
/* identical to box height, or 12px */

color: #000000;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;

/* Back # 2 */

position: absolute;
width: 8px;
height: 14px;
left: 16px;
top: 15px;

/* Vector */

position: absolute;
visibility: hidden;
left: 0%;
right: -75%;
top: 0%;
bottom: 42.86%;

border: 2px solid #ffffff;
transform: rotate(-90deg);

/* Group 9277 */

position: absolute;
width: 30px;
height: 30px;
left: 315px;
top: 634px;

filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.15));

/* Group 9283 */

position: absolute;
width: 30px;
height: 30px;
left: 315px;
top: 634px;

/* Rectangle 79 */

position: absolute;
width: 30px;
height: 30px;
left: 315px;
top: 634px;

background: linear-gradient(180deg, #ffffff 0%, #ebe6e6 50%, #ffffff 100%);
border-radius: 9999px;

/* Vector */

position: absolute;
width: 7.14px;
height: 12.86px;
left: 326.43px;
top: 642.57px;

background: #ffffff;
